.header-container {
  width: 100vw;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  padding-right: 40px;
  .logo-col {
    width: 220px;
    height: 100%;

    padding: 10px;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  .menu-col {
    ul {
      display: flex;
      gap: 30px;
      align-items: center;
      Button {
        background-color: #dbe9fb;
        color: #2d94f3;
        border: none;
        transition: 0.2s ease-in-out;
        font-weight: 700;
        &:hover {
          background-color: #b3c3d9;
        }
      }
      li {
        list-style: none;
        font-size: 18px;
        color: white;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        position: relative;
        &::after {
          content: "";
          width: 0px;
          height: 5px;
          bottom: 0px;
          left: 0px;
          background-color: aqua;
          position: absolute;
          transition: 0.8s ease-in-out;
        }

        &:hover {
          color: white;
          &::after {
            content: "";
            width: 100%;
            height: 5px;
            bottom: 0px;
            left: 0px;
            background-color: rgb(5, 64, 112);
            position: absolute;
          }
        }
      }
    }
  }
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d94f3;
  width: 100vw;
  .footer-col {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    .footer-logo {
      width: 200px;
      height: auto;
    }
    .footer-right-col {
      display: flex;
      gap: 30px;
      ul {
        .follow-us {
          font-size: 24px;
          font-weight: 800;
          &:hover {
            color: hsla(0, 0%, 100%, 0.8);
          }
        }
        .contact-us {
          font-size: 24px;
          font-weight: 800;
          &:hover {
            color: hsla(0, 0%, 100%, 0.8);
          }
        }
        li {
          list-style: none;
          display: flex;
          line-height: 30px;
          color: hsla(0, 0%, 100%, 0.8);
          font-size: 0.95rem;
          font-weight: 400;
          word-wrap: break-word;
          margin-bottom: 0.5rem;
          display: block;
          transition: 0.7s ease-in-out;
          &:hover {
            color: #b3c3d9;
            cursor: pointer;
          }
          // align-items: center;
        }
      }
    }
  }
}
